assign [class="Conky"] $ws1
assign [class="GLava"] $ws1
assign [instance="Cava"] $ws1
assign [instance="btm"] $ws1
assign [app_id="firefox"] $ws2
assign [class="Brave-browser"] $ws2
assign [class="Chromium"] $ws2
assign [class="Google-chrome"] $ws2
assign [class="Tor Browser"] $ws2
assign [class="vesktop"] $ws3
assign [instance="ncmpcpp"] $ws9
assign [class="Amule"] $ws0
assign [class="qBittorrent"] $ws0
assign [class="easyeffects"] $ws0
assign [class="YouTube Music"] $ws0
assign [class="steam"] $ws9
assign [instance="steamwebhelper"] $ws9

# for_window [all] floating enable
for_window [class="java-lang-Thread"] floating enable
for_window [instance="Cava"] floating enable
# for_window [instance="tabbed"] border pixel 1
# for_window [instance="tabbed"] floating enable
for_window [class="dhewm3"] floating disable
for_window [title="glxgears"] floating enable
for_window [class="Blueman-manager"] floating enable
for_window [class="PPSSPPQt"] floating enable
for_window [class="PPSSPPSDL"] floating enable
for_window [class="Anydesk"] floating enable
for_window [class="GLava"] floating enable
for_window [class="Gcolor3"] floating enable
for_window [class="Gkrellm"] floating enable
for_window [class="Gpick"] floating enable
for_window [class="Lightdm-gtk-greeter-settings"] floating enable
for_window [class="Lxappearance"] floating enable
for_window [class="MEGAsync"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [class="Pcmanfm"] floating enable
for_window [class="Pea"] floating enable
for_window [class="ROX-Filer"] floating enable
for_window [class="Snes9x-gtk"] floating enable
for_window [class="Window Buttons"] floating enable
for_window [class="confirm"] floating enable
for_window [class="confirmreset"] floating enable
for_window [class="dialog"] floating enable
for_window [class="error"] floating enable
for_window [class="explorer.exe"] floating enable
for_window [class="file_progress"] floating enable
for_window [class="lxqt-config"] floating enable
for_window [class="notification"] floating enable
for_window [class="qt5ct"] floating enable
for_window [class="scrcpy"] floating enable
for_window [class="splash"] floating enable
for_window [class="ssh-askpass"] floating enable
for_window [class="toolbar"] floating enable
for_window [class="torbrowser-launcher"] floating enable
for_window [instance="Dunst"] floating enable
for_window [instance="Event Tester"] floating enable
for_window [instance="Picture-in-Picture"] border none
for_window [instance="branchdialog"] floating enable
for_window [instance="clock"] floating enable
for_window [instance="floating_window"] floating enable
for_window [app_id="floating_window"] floating enable
for_window [app_id="org.ijhack.qtpass"] floating enable
for_window [instance="pinentry"] floating enable
for_window [title="Event Tester"] floating enable
for_window [title="Picture-in-Picture"] border none
for_window [title="PyQt window"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="popup_menu"] floating enable

# vim: ft=swayconfig
