* {
    border: none;
    font-family: JetBrainsMono Nerd Font, Cantarell, monospace;
    font-size: 11pt;
    border-radius: 0;
}
#mode {
    /* background: rgba(8.56, 4.76, 4.41, 0.8); */
    background: #ffffff;
    color: #333333;
    padding: 0 5px;
    font-weight: bold;
}
#tray {
    padding-left: 10px;
}
#workspaces button.focused,
.modules-right {
    background-color: #ffffff;
    color: #333333; }
#pulseaudio {
    padding: 0 8px;
}
window#waybar {
    /* background: rgba(8.56, 4.76, 4.41, 0.8); */
    background-color: transparent;
    color: #ffffff;
}
#workspaces button {
    background-color: #cccccc;
    color: #666666;
    padding: 0 10px;
    /* border-bottom: 2px none #999999; */
    border: none;
}
#workspaces button.focused {

    font-weight: bold;
    /* border-bottom: 2px solid #9fffff; */
}
.modules-right {
    padding: 0 10px 0 10px;
    /* border-radius: 0 0 0px 40px; */
}
#disk {
    font-size: 0; 
}
#disk.warning {
    font-size: 11pt;    
    color: #ff9090;
    font-weight: bold;
}
