* {
    border: none;
    font-family: JetBrainsMono Nerd Font, Cantarell, monospace;
    font-size: 14px;
    border-radius: 0;
}
#tray, #mode {
    background-color: transparent;
    color: #ffff9f;
    font-weight: bold;
}
#pulseaudio {
    padding: 0 8px;
}
window#waybar {
    background: rgba(23, 29, 38, 0.6);
    color: #ffffff;
}
#workspaces button {
    background-color: transparent;
    color: #808080;
    padding: 0 10px;
}
#workspaces button.focused {
    /* background-color: #285577; */
    /* background-color: #772855; */
    /* background-color: #4F0A9C; */
    /* background-color: #556EA1; */
    /* background-color: #6D8976; */
    background-color: #323F4E;
    color: #ffffff;
}
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}
.modules-right {
    background-color: #323F4E;
    padding: 0 10px;
}
.modules-center {
    font-weight: bold;
}
