for_window [window_type="popup_menu"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [class="Window Buttons"] floating enable
for_window [class="torbrowser-launcher"] floating enable
for_window [class="mpv"] floating enable
for_window [class="Gpick"] floating enable
# for_window [class="GLava"] sticky enable
for_window [class="GLava"] floating enable
for_window [class="scrcpy"] floating enable
for_window [class="MEGAsync"] floating enable
for_window [class="Snes9x-gtk"] floating enable
for_window [class="confirm"] floating enable
for_window [class="dialog"] floating enable
for_window [class="error"] floating enable
for_window [class="file_progress"] floating enable
for_window [class="notification"] floating enable
for_window [class="splash"] floating enable
for_window [class="toolbar"] floating enable
for_window [class="Gcolor3"] floating enable
for_window [class="confirmreset"] floating enable
for_window [class="ssh-askpass"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [class="Lxappearance"] floating enable
for_window [class="Lightdm-gtk-greeter-settings"] floating enable
for_window [class="Pea"] floating enable
for_window [class="explorer.exe"] floating enable
for_window [class="ROX-Filer"] floating enable
for_window [class="TelegramDesktop"] floating enable
for_window [instance="Event Tester"] floating enable
for_window [instance="branchdialog"] floating enable
for_window [instance="pinentry"] floating enable
for_window [instance="floating_terminal"] floating enable
for_window [instance="floating_window"] floating enable
for_window [instance="cmus"] floating enable
for_window [title="Event Tester"] floating enable
for_window [title="PyQt window"] floating enable
#for_window [class="discord"] floating enable
for_window [class="Gkrellm"] floating enable
for_window [class="Pcmanfm"] floating enable
for_window [class="lxqt-config"] floating enable
for_window [class="qt5ct"] floating enable
#for_window [title="Wine"] floating enable
#for_window [instance="ncspot"] floating enable
#for_window [instance="newsboat"] floating enable
#for_window [class="Alacritty"] border none
for_window [instance="Picture-in-Picture"] border none
for_window [title="Picture-in-Picture"] border none
for_window [instance="clock"] floating enable
assign [class="Pea"] $ws3
assign [class="Steam"] $ws8
assign [class="firefox"] $ws2
assign [class="Conky"] $ws1
assign [class="Chromium"] $ws2
assign [class="Firefox-esr"] $ws2
assign [class="FreeTube"] $ws2
assign [class="qutebrowser"] $ws2
assign [class="Brave-browser"] $ws2
assign [class="Google-chrome"] $ws2
assign [class="Tor Browser"] $ws2
assign [class="JDownloader 2"] $ws2
assign [class="TelegramDesktop"] $ws3
assign [class="discord"] $ws3
assign [class="Hexchat"] $ws3
assign [class="Spotify"] $ws9
assign [class="qBittorrent"] $ws0
assign [class="Amule"] $ws0
assign [class="Deluge-gtk"] $ws0
assign [class="Jellyfin Media Player"] $ws9
assign [class="Qemu-system-x86_64"] $ws8
assign [instance="Steam"] $ws8
assign [title="Steam"] $ws8
assign [instance="irssi"] $ws0
assign [instance="newsboat"] $ws4
assign [instance="ncspot"] $ws9
assign [instance="cmus"] $ws9
assign [instance="Spotify"] $ws9
assign [instance="download"] $ws0
assign [title="radio"] $ws9
assign [instance="clock"] $ws1

# vim: ft=i3config
